/*Style chung cho cả trang*/
body {
	margin:0;
	font-family: GoogleSans-Regular;
	font-size:13px;
}
a {
	text-decoration: none;
	color: #000000;
}
	a:visited {
		color: #000000;
	}
	
select {
	color: #bbbbbb;
	width: 200px;
	font-family: GoogleSans-Regular;
	
}

	select:focus {
		outline: none !important;
		box-shadow:0 0 0px 1px #2FBE8E;
	}

input {
	font-family: GoogleSans-Regular;
	outline-color: black;
}
	
	
option{
	color: #000000;
}

.selected {
	background-color: #019160;
	font-family: GoogleSans-Medium;
	color: #ffffff;
	pointer-events: none;
}


::-webkit-input-placeholder { 
	color: #bbbbbb;
	font-size: 12px;
}


/*option[value=""][disabled] {
	display: none;
}*/

/*Ký hiệu giúp người dùng không bỏ sót*/
.notice{
	color:red;
}
/*font google-sans*/
@font-face {
	font-family: 'GoogleSans-Regular';
	src: url('../../content/font/GoogleSans-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'GoogleSans-Bold';
	src: url('../../content/font/GoogleSans-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'GoogleSans-Italic';
	src: url('../../content/font/GoogleSans-Italic.otf') format('opentype');
}
@font-face {
	font-family: 'GoogleSans-Light';
	src: url('../../content/font/GoogleSans-Light.otf') format('opentype');
}
@font-face {
	font-family: 'GoogleSans-Thin';
	src: url('../../content/font/GoogleSans-Thin.otf') format('opentype');
}
@font-face {
	font-family: 'GoogleSans-Medium';
	src: url('../../content/font/GoogleSans-Medium.otf') format('opentype');
}